@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Razor Pages AJAX with Named Handlers Demo</h1>

<form method="post">
    <div class="form-row">
        <div class="col-md-6">
            <label asp-for="SelectedContinent">
                Continent
            </label>
            <select id="continentsList" class="form-control" asp-for="SelectedContinent" asp-items="@Model.Continents"></select>
        </div>
        <div class="col-md-6">
            <label asp-for="SelectedCountry">
                Country
            </label>
            <select id="countriesList" class="form-control" asp-for="SelectedCountry" asp-items="@Model.Countries"></select>
        </div>
    </div>
</form>
@section Scripts
{
    <script type="text/javascript">
        $("#continentsList").change(function () {
            var continent = $("#continentsList").val();
            $.ajax({
                url: "@Url.Page("/Index")?handler=CountriesFilter",
                method: "GET",
                data: { continent: continent },
                success: function (data) {
                    $("#countriesList option").remove();
                    $.each(data, function (index, itemData) {
                        $("#countriesList").append("<option value='" + itemData + "'>" + itemData + "</option>");
                    });
                    updateEntities();
                }
            })
        });
    </script>
}